body{
background: #000000;
font-family: Courier;
color: #ED342F;
font-size: 25px;
}
footer{
font-size: 15px;
position: fixed;
text-align: center;
bottom: 0px;
width: 100%;
background: black;
}
.container{
border: 2px solid #0000ff;
border-radius: 4px;
padding: 5px;
margin: 5px;
background: #000000;
}
.container .container{
border: 2px solid #00ff00;
}
.container .container .container{
border: 2px solid #00ffff;
}
.container .container .container .container{
border: 2px solid #ff0000;
}
.container .container .container .container .container{
border: 2px solid #ff00ff;
}
.container .container .container .container .container .container{
border: 2px solid #ffff00;
}
.container .container .container .container .container .container .container{
border: 2px solid #ffffff;
}
tr.main{
font-weight: bold;
}
a#invis:hover, a#invis:visited, a#invis:link{
color: inherit;
text-decoration: none;
cursor: pointer;
}
